<aside id="offcanvas-sidebar" class="bg-dark text-white js-offcanvas">
    <a class="js-offcanvas-close c-button c-button--close-right btn btn-sm btn-icon btn-link text-white pos-absolute pos-t pos-r mt-2 mr-2 op-7 pos-zindex-1 pos-zindex-10"> <i class="la la-close"></i> </a>
    <div class="py-6 px-4">
      <h5 class="text-uppercase text-letter-spacing">
        About Us
      </h5>
      <p class="text-sm">Making the web a prettier place one template at a time! We make beautiful, quality, responsive Drupal & web templates!</p>
      <a href="about.html" class="btn btn-sm btn-primary">Find out more</a>
      <hr class="hr-light op-2 my-4" />
      <!--@todo: replace with company contact details-->
      <h5 class="text-uppercase text-letter-spacing">
        Contact Us
      </h5>
      <address>
          <p class="mb-1 text-sm">
            <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
            019223 8092344
          </p>
          <p class="mb-1 text-sm">
            <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
            info@themelize.me
          </p>
          <p class="mb-0 text-sm">
            <abbr title="Address"><i class="fa fa-home"></i></abbr>
            Sunshine House, Sunville. SUN12 8LU.
          </p>
        </address>
    </div>
  </aside>