<div id="features" class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      Core Features
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
    </h5>
    <hr class="mb-5 w-50 mx-auto" />
    <div class="row text-center">
      <div class="col-lg-4 py-1">
        <i class="la la-tachometer icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
        <h5 class="mt-1 op-8">
          Data experts
        </h5>
        <p class="text-sm text-black-50">Our experts have years of experience in building data set for ML and AI</p>
      </div>
      <div class="col-lg-4 py-1">
        <i class="la la-wrench icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
        <h5 class="mt-1 op-8">
          Model in the loop
        </h5>
        <p class="text-sm text-black-50">ML models working along with human annotators for quicker and better results</p>
      </div>
      <div class="col-lg-4 py-1">
        <i class="la la-rocket icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
        <h5 class="mt-1 op-8">
          Easy to use
        </h5>
        <p class="text-sm text-black-50">just provide us with the data task and we will do it, no coding required</p>
      </div>
    </div>
  </div>