<div id="features" class="container py-4 py-lg-6">
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
        Data annotation platform
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
        (coming soon)
    </h5>
    <hr class="mb-5 w-50 mx-auto" />
    <div class="row text-center">
      <div class="col-lg-4 py-1">
        <i class="la la-tachometer icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
        <h5 class="mt-1 op-8">
            Fast labeling
        </h5>
        <p class="text-sm text-black-50">use our platform for fast data preparation and labeling</p>
      </div>
      <div class="col-lg-4 py-1">
        <i class="la la-wrench icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
        <h5 class="mt-1 op-8">
            State-of-the-art ML
        </h5>
        <p class="text-sm text-black-50">we use latest models to help you with data annotation</p>
      </div>
      <div class="col-lg-4 py-1">
        <i class="la la-rocket icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
        <h5 class="mt-1 op-8">
            Expert data annotators
        </h5>
        <p class="text-sm text-black-50">you can either use platform for you teams or we can provide you with our experts, you choose</p>
      </div>
    </div>
  </div>