<footer id="footer" class="p-0">
    <div class="container pt-6 pb-5">
      <div class="row">
        <div class="col-md-4">
          <!--@todo: replace with company contact details-->
          <h4 class="text-uppercase text-white">
            Contact Us
          </h4>
          <address>
              <ul class="list-unstyled">
                <li>
                  <abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
                  +48 22 2035600
                </li>
                <li>
                  <abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
                  info@labellery.com
                </li>
                <li>
                  <abbr title="Address"><i class="fa fa-home fa-fw"></i></abbr>
                  Nowogrodzka 62C, Warsaw, Poland
                </li>
              </ul>
            </address>
        </div>

        <div class="col-md-4">
          <h4 class="text-uppercase text-white">
            About Us
          </h4>
          <p>At Labellery we provide you with annotated data that may be used for training and tuning your custom-built machine learning methods.</p>
        </div>

        <!-- <div class="col-md-4">
          <h4 class="text-uppercase text-white">
            Newsletter
          </h4>
          <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
          <form>
            <div class="input-group">
              <label class="sr-only" for="email-field">Email</label>
              <input type="text" class="form-control" id="email-field" placeholder="Email">
              <span class="input-group-append">
                  <button class="btn btn-primary" type="button">Go!</button>
                </span>
            </div>
          </form>
        </div> -->
      </div>

    </div>
  </footer>