<div id="pricing" class="bg-light py-3 py-lg-6">
      <div class="container">
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Pricing Plans
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
          Competitive pricing plans to suit your needs
        </h5>
        <hr class="mb-5 w-50 mx-auto" />
        <div class="row pricing-stack">
          <div class="col-md-3">
            <div class="card bg-shadow text-center border-0">
              <h4 class="card-title py-3 my-0 text-shadow op-8">
                Starter
              </h4>
              <p class="price-banner bg-light shadow-sm card-body-overlap"> <span class="price-digits">Free!</span>
              </p>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>3 User Accounts</li>
                  <li>3 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>5GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-rounded btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-white bg-shadow text-center rounded-0 border-0 border-top-3-primary">
              <h4 class="card-title py-3 my-0 text-shadow op-8">
                Professional
              </h4>
              <p class="price-banner bg-light shadow-sm card-body-overlap">
                <span class="price-currency">$</span>
                <span class="price-digits">49<span>.95</span></span>
                <span class="price-extra">/MO</span>

              </p>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>50 User Accounts</li>
                  <li>50 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-rounded btn-lg mt-4">Sign Up</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-white bg-shadow text-center rounded-0 border-0 border-top-3-primary">
              <div class="card-ribbon card-ribbon-top card-ribbon-left bg-primary text-white">Popular</div>
              <h4 class="card-title py-3 my-0 text-shadow op-8">
                Business
              </h4>
              <p class="price-banner bg-light shadow-sm card-body-overlap">
                <span class="price-currency">$</span>
                <span class="price-digits">199<span>.95</span></span>
                <span class="price-term">/MO</span>

              </p>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>Umlimited User Accounts</li>
                  <li>Umlimited Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>Unlimited space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-rounded btn-lg mt-4">Sign Up</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-shadow text-center border-0">
              <div class="card-ribbon card-ribbon-top card-ribbon-right bg-light text-muted">Best Buy</div>
              <h4 class="card-title py-3 my-0 text-shadow op-8">
                Starter+
              </h4>
              <p class="price-banner bg-light shadow-sm card-body-overlap">
                <span class="price-currency">$</span>
                <span class="price-digits">19<span>.95</span></span>
                <span class="price-term">/MO</span>

              </p>
              <div class="card-body">
                <ul class="list-unstyled text-sm text-black-50">
                  <li>10 User Accounts</li>
                  <li>10 Private Projects</li>
                  <li>Umlimited Public Projects</li>
                  <li>15GB of space</li>
                </ul>
                <a href="#" class="btn btn-primary btn-rounded btn-lg">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Plan features -->
        <div class="bg-white bg-op-4 bg-shadow py-3 mt-4 text-center">
          <h5 class="d-inline-block pr-1 my-0">
            All Plans Include:
          </h5>
          <p class="d-inline-block text-black-50 my-0">90 day money back guarantee <span class="text-primary font-weight-bold mx-2">//</span> 24/7 telephone support <span class="text-primary font-weight-bold mx-2">//</span> FREE Setup <span class="text-primary font-weight-bold mx-2">//</span> Migration
            Help <span class="text-primary font-weight-bold mx-2">//</span> Developer API</p>
        </div>
      </div>
    </div>