<div id="projects" class="container p-3 py-lg-6" data-toggle="magnific-popup" data-magnific-popup-settings='{"delegate": "a.project", "gallery":{"enabled":true}}'>
    <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
    <h2 class="text-center text-uppercase font-weight-bold my-0">
      Latest Projects
    </h2>
    <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
      See what we've been working on!
    </h5>
    <hr class="mb-5 w-50 mx-auto" />
    <div class="mt-4 owl-nav-over owl-nav-over-lg owl-dots-center" data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1, "nav":false, "dots":true}, "600":{"items":2, "dots":true}, "940":{"items":3, "nav":true, "dots":true}}, "margin":1, "nav":true, "dots":false}'>

      <!--Project item 1-->
      <a href="assets/img/projects/project-1.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-1-sm.jpg" alt="Project 1" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Diam Fere Nostrud Quibus Valde</span> </span>
        </a>

      <!--Project item 2-->
      <a href="assets/img/projects/project-2.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-2-sm.jpg" alt="Project 2" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Feugiat Incassum Nostrud Patria Saluto</span> </span>
        </a>

      <!--Project item 3-->
      <a href="assets/img/projects/project-3.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-3-sm.jpg" alt="Project 3" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Abico Aptent Diam Quidne Virtus</span> </span>
        </a>

      <!--Project item 4-->
      <a href="assets/img/projects/project-4.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-4-sm.jpg" alt="Project 4" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Aliquam Blandit Defui Elit Nibh</span> </span>
        </a>

      <!--Project item 5-->
      <a href="assets/img/projects/project-5.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-5-sm.jpg" alt="Project 5" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Acsi Distineo Sagaciter Utinam Validus</span> </span>
        </a>

      <!--Project item 6-->
      <a href="assets/img/projects/project-6.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-6-sm.jpg" alt="Project 6" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Ad Illum Lobortis Pneum Typicus</span> </span>
        </a>

      <!--Project item 7-->
      <a href="assets/img/projects/project-7.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-7-sm.jpg" alt="Project 7" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Eu Humo Populus Saepius Sino</span> </span>
        </a>

      <!--Project item 8-->
      <a href="assets/img/projects/project-8.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-8-sm.jpg" alt="Project 8" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Hos Uxor Validus Vero Virtus</span> </span>
        </a>

      <!--Project item 9-->
      <a href="assets/img/projects/project-9.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-9-sm.jpg" alt="Project 9" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Amet Antehabeo Nisl Olim Sino</span> </span>
        </a>

      <!--Project item 10-->
      <a href="assets/img/projects/project-10.jpg" class="project overlay-hover">
          <img src="assets/img/projects/project-10-sm.jpg" alt="Project 10" class="img-fluid" />
          <span class="overlay-hover-content"> <i class="fa fa-arrow-circle-right icon-3x text-white"></i> <span class="h5 mt-4">Consequat Decet Facilisis Nibh Nulla</span> </span>
        </a>
    </div>
  </div>