<div class="bg-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 divider-diagonal divider-diagonal-r divider-dark" data-bg-img="assets/img/backgrounds/computer-screens.jpg"></div>
        <div class="col-lg-4 py-5">
          <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
          <h2 class="text-white text-uppercase mt-0 mb-5">
            Choose <span class="text-primary font-weight-bold">AppStrap</span>
          </h2>
          <div class="d-flex mb-3">
            <i class="la la-check text-white icon-1x icon-sq rounded-circle bg-primary mr-3"></i>

            <div class="flex-fill text-grey">
              <h4 class="font-weight-bold text-white mb-0 op-9">
                Fully Optimized
              </h4>
              <p class="op-8 text-sm">Abdo abluo immitto molior suscipit tincidunt validus vicis. Macto pagus proprius sed velit venio. Augue caecus enim hendrerit iaceo nostrud rusticus ulciscor.</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <i class="la la-check text-white icon-1x icon-sq rounded-circle bg-primary mr-3"></i>

            <div class="flex-fill text-grey">
              <h4 class="font-weight-bold text-white mb-0 op-9">
                Free Upgrades
              </h4>
              <p class="op-8 text-sm">Abluo esse exerci inhibeo iustum occuro ratis saluto usitas. Abico aliquip bene capto ludus paratus quae quia venio.</p>
            </div>
          </div>
          <div class="d-flex mb-3">
            <i class="la la-check text-white icon-1x icon-sq rounded-circle bg-primary mr-3"></i>

            <div class="flex-fill text-grey">
              <h4 class="font-weight-bold text-white mb-0 op-9">
                99.9% Uptime
              </h4>
              <p class="op-8 text-sm">Decet esca ludus meus paratus tation venio vereor. Abico comis eu lenis qui sagaciter sudo ulciscor venio.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>